*{margin: 0;
padding: 0;
box-sizing: border-box;}

html{font-size: 62.5%;}

body{font-family: Roboto;
line-height: 1.4;
scroll-behavior: smooth;
display: flex;
gap: 10px;}

/* navbar started */

nav h1{font-size: 2.4rem;
font-weight: 300;
padding: 10px;
border-bottom: 1px solid #ccc;
font-family: Roboto;}

header{border: 1px solid #ccc;
height: 100vh;
position: sticky;
top: 0;}

nav ul{list-style: none;}



nav ul li{font-size: 1.6rem;
font-family: Roboto;
font-weight: 300;
border-bottom: 1px solid #ccc;
padding: 10px ;}


nav ul li:hover{background-color: #ccc;
transition: 0.3s ease-in-out;}

/* navbar ended */


/* main started  */

main{padding: 50px;
max-width: 1200px;}

section{margin-bottom: 50px;}

section article{font-size: 1.6rem;}


  section h2{font-size: 2rem;
  border-bottom: 1px solid #ccc;
font-family: Roboto;
margin-bottom: 20px;}

section article{margin-left: 10px;
display: flex;
flex-direction: column;
gap: 20px;}

section ul{margin-left: 20px;}

section ul li{margin-bottom: 10px;}


code{display: block;
text-align: left;
white-space: pre-line;
line-height: 2;
padding: 15px;
margin: 10px;
color: black;}
